.ContentBlogs {
  padding: 30px;
  list-style-type: none;
}
.ContentBlogs>li {
  margin-bottom: 20px;
}
.ContentBlogs>li>h3 {
  margin-bottom: 10px;
  font-style: italic;
  text-shadow: 1px 1px #f2d0d0;
}
.ContentBlogs>li>p {
  background-color: #f2d0d0;
  padding: 5px;
  border-radius: 15px;
}
.more-blogs {
  padding: 10px;
  border-radius: 25px;
  background-color: #300c46;
  color: #6ecf18;
  font-weight: bolder;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}
.more-blogs:active {
  background-color: #6ecf18;
  color: #300c46;
}