.menu {
  font-style: italic;
  font-size: 25px;
  color: rgb(226, 43, 43);
  list-style: none;
  border-right: solid brown 4px;
  margin-top: 0;

  /*position: fixed;*/
}

.menu li:visited {
  color: rgb(226, 43, 43);
}

.menu :hover {
  color: rgb(224, 146, 0);
}

.menu a {
  text-decoration: none;
  color: rgb(226, 43, 43);
  transition: color, ease 0.3s;
}

.menu li {
  padding: 0 40px 15px 0;
}

.menu li:last-child {
  padding-bottom: 0;
}

h2 {
  font-style: italic;
  color: rgb(226, 43, 43);
  width: 200px;
  font-weight: bold;
  padding-left: 40px;
}
