.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu li {
  padding: 3px 10px 0;
}

.menu > li > a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.menu > li > a:hover {
  color: #929eb2;
}

.menu .active {
  color: #d65151;
}