.comment {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    margin-bottom: 25px;
}

.comment-head {
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background-color: #c9cfd8;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding-left: 20px;
}

.form-padding{
    padding: 10px;
}
.form-control{
    margin-bottom: 10px;
}

.form-button {
    width: 150px;
}