.ContentNews {
  padding: 30px;
  list-style-type: none;
}
.ContentNews > li {
  margin-bottom: 20px;
}
.ContentNews > li > h3 {
  margin-bottom: 10px;
  color: #302954;
  text-shadow: 1px 1px #6ecf18;
}
.ContentNews > li > p {
  background-color: #e8e2e2;
  padding: 5px;
  border-radius: 15px;
}
.more-news {
  padding: 10px;
  border-radius: 25px;
  background-color: #300c46;
  color: #6ecf18;
  font-weight: bolder;
  font-size: 1em;
  cursor: pointer;
}
.more-news:active {
  background-color: #6ecf18;
  color: #300c46;
}