.articles {
  font-size: 12px;
  width: auto;
}

.art-one {
border: 1px solid blue;
    padding: 20px;
    margin-bottom: 10px;
}

.artcel {
    border: 1px solid #8c7979;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.author {
    padding-left: 10px;
}

.contentall{
	display: block;
}

.divcontent{
	display: inline-block;
}

.comment{
	background: #dedede;
    padding: 10px;
}