.list-element {
    margin-bottom: 10px;
}
.list-element:last-child {
    margin-bottom: 0px;
}
.name-elem {
    padding: 10px;
    font-size: 1.5em;
    color: rgb(116, 116, 116);
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}