.menu {
  display: flex;
  list-style-type: none;
  font-size: 2em;
  font-weight: bold;
}
.menu > li {
  margin-right: 30px;
}
.menu > li > a {
  text-decoration: none;
  color: #6ecf18;
  text-shadow: #300c46 1px 1px;
}
.menu > li > a:active {
  text-decoration: none;
  color: #300c46;
  text-shadow: #6ecf18 1px 1px;
}
.menu > li > a.active {
  color: #300c46;
}