.container-article{
    width: 60%;
}

.article {
    font-size: 14px;
}

.article>p{
    margin-bottom: 1rem;
}
.autor{
    padding-bottom: 15px;
    border-bottom: 1px solid #929eb2;
}

.autor a{
    text-decoration: none;
    color: blue;
}

.publish {
    padding-bottom: 15px;
    border-bottom: 1px solid #929eb2;
}

.autor a:hover {
    border-bottom: 1px solid blue;
}
.comment-person {
    margin-left: 25px;
}