* {
  margin: 0;
  padding: 0;
}

html, body, #blog, .box {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 100px;
  background-color: #076ca3;
}

.content {
  padding-top: 30px;
}

.content>p {
  text-align: center;
  font-size: 3em;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -110px;
  background-color: #076ca3;
  height: 110px;
}

.login {
  font-size: 1.5em;
  font-weight: bold;
  color: #6ecf18;
  background-color: #300c46;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  height: 100px;
  width: 100px;
}

.login:active {
  color: #300c46;
  background-color: #6ecf18;
}