.display {
  margin: 50px auto;
  width: 400px;
  padding: 10px 20px;
  border: 1px solid #000000;
  text-align: center;
  box-sizing: border-box;

  &_dev {
    font-size: 18px;
    background-color: aliceblue;
  }
}