.login-form {
  position: absolute;
  top: 120px;
  right: 35px;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  border-radius: 50%;
  background-color: rgba(190, 178, 228, 0.95);
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
.login-form > * {
  margin: 3px 0;
}
.login-form > input {
  padding: 0 5px;
}
#login-button {
  padding: 5px 0;
  border-radius: 15px;
  color: #6ecf18;
  background-color: #300c46;
  font-size: 16px;
  font-weight: bold;
}
#login-button:active {
  color: #300c46;
  background-color: #6ecf18;
}