.loginDiv {
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
}

input {
    border: solid 1px rgb(226, 43, 43);
    transition: outline-color, ease 0.3s;
}

input:focus {
    outline-color: rgb(224, 146, 0);
}

button {
    border: solid 1px rgb(226, 43, 43);
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 43, 43);
    cursor: pointer;
    transition: color, background-color, ease 0.3s;
}

button:hover {
    color: black;
    background-color: rgb(216, 224, 0);

}