
summary::-webkit-details-marker {
    display: none
}

details[open] summary:after {
    content: "";
}

.position-summary-sidebar {
    padding-left: 38px;
    color: #b30000;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

.sidebar {
    list-style-type: none;

}

.sidebar > li {
    margin-bottom: 10px;
}

.sidebar > li > a {
    text-decoration: none;
    color: #936c6c;
    font-weight: 600;
}

.sidebar > li > a:hover {
    color: #d74242;
}

