.login {
  font-size: 1.5em;
  font-weight: bold;
  color: #6ecf18;
  background-color: #300c46;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  height: 100px;
  width: 100px;
}
.login:active {
  color: #300c46;
  background-color: #6ecf18;
}