.contentfield {
    /*width: auto;*/
    /*height: auto;*/
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}
.content_item {
    margin: 0 auto 55px;
    border: solid rgb(173, 49, 0) 2px;
    border-radius: 10px;
    color: rgb(124, 124, 124);
    max-width: 750px;
    min-width: 400px;
}
.content_item img {
    border-bottom: solid rgb(173, 49, 0) 2px;
    width: 100%;
}