.displayWrap {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {

  &_date {
    height: 40px;
  }
}

#timeButton {
  width: 100px;
  height: 30px;
}