.menu {
    display: flex;
    list-style-type: none;

}

.menu li {
    margin-right: 10px;
}

.menu > li > a {
    text-decoration: none;
    color: #936c6c;
    font-weight: 600;
}

.menu>li>a:hover {
    color: #d74242;
}