.header{
    padding: 10px 0;
    background-color: #404449;
    border-radius: 3px;
}

.disp-flex{
    display: flex;
    justify-content: space-between;
}

.container-blog {
    margin: 0 auto;
    width: 1170px;
}